$free-color: rgb(3, 155, 229);
$premium-color: rgb(0, 0, 0);
$light-text-color: rgb(255, 255, 255);
$light-background: rgb(235, 235, 235);
$border-color: rgb(184, 179, 179, 0.3);
$font-stack: Arial, Helvetica, sans-serif;