.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3rem;
  background-color: rgb(245, 245, 245);
  margin: 0;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid rgb(184, 179, 179);
}
a {
  &:hover {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
  }
}
.search-container {
  height: 2rem;
  display: flex;
  width: 30%;
  fa-icon {
    display: flex;
    align-items: center;
    background-color: rgb(185, 185, 185);
    border: 0.5px solid rgb(184, 179, 179);
    border-radius: 10px 0 0 10px;
    border-right-style: none;
    padding: 0 8px;
  }
  input {
    width: 100%;
    padding: 0 10px;
    border: 0.5px solid rgb(184, 179, 179);
    border-radius: 0 10px 10px 0;
    border-left-style: none;
    font-size: 1rem;
    outline: 0;
  }
}
p {
  font-size: 1.1rem;
}
