.note {
  width: 12rem;
  border: 1px solid rgb(184, 179, 179);
  padding: 1rem 1rem 0;
  margin: 0.5rem;
  border-radius: 0.5rem;
  word-wrap: break-word;
  button-container {
    visibility: hidden;
  }
  &:hover {
    box-shadow: 2px 2px 2px rgb(184, 179, 179);
    button-container {
      visibility: visible;
    }
  }
  
}