<div class="note" (click)="onEdit($event)" [style.background-color]="item.color">
  <div>
    <h3>{{item?.title}}</h3>
  </div>
  <div>
    {{item?.content}}
  </div>
  <div>
    <date-viewer 
      *ngIf="item.date" 
      [date]="item.date" 
      (edit)="showDateImput()" 
      (newDate)="onDateUpdate($event)">
    </date-viewer>
  </div>
  <button-container *ngIf="forPrimaryUse">
    <reminder-button (click)="showDateImput()"></reminder-button>
    <color-button (color)="onColorChange($event)" inactiveButton="true"></color-button>
    <image-button inactiveButton="true"></image-button>
    <print-button (click)="showPrintView($event)"></print-button>
    <remove-button (click)="onDelete($event)"></remove-button>
  </button-container>
  <date-input 
    *ngIf="addEditReminder" 
    [currentDate]="item.date" 
    (date)="saveTimeDate($event)">
  </date-input>
  <div *ngIf="!forPrimaryUse" class="editable">
    <button (click)="close()">Close preview</button>
  </div>
</div>