.note {
  position: relative;
  width: 12rem;
  border: 1px solid rgb(184, 179, 179);
  padding: 1rem 1rem 0;
  margin: 0.5rem;
  border-radius: 0.5rem;
  word-wrap: break-word;
  button-container {
    visibility: hidden;
  }
  &:hover {
    box-shadow: 2px 2px 2px rgb(184, 179, 179);
    button-container {
      visibility: visible;
    }
  }
  .editable {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    button {
      background-color: rgb(0, 0, 0, 0);
      border: none;
      border-radius: 10px;
      &:hover {
        background-color: rgb(0, 0, 0, 0.2);
      }
    }
  }
}