:host {
  position: relative;
    button {
      position: absolute;
      right: 0.1rem;
      bottom: -0.1rem;
      height: 1.3rem;
      width: 1.3rem;
      display: none; 
      border: none;
      background: rgb(216, 213, 213);
      border-radius: 50%;
      &:hover {
        background: rgb(199, 196, 196);
      }
  }
    &:hover {
      button {
        display: inline-block;
        cursor: pointer;
      }
    }
}
.reminder {
  display: inline-block;
  height: 1.5rem;
  box-sizing: border-box;
  color: black;
  background: rgb(214, 216, 218);
  border-radius: 0.7rem;
  margin: 2rem 0 0.5rem;
  padding: 0.2rem 10px;
    span {
      position: relative;
      box-sizing: border-box;
      height: 1.1rem;
      padding-left: 1.2rem;
      fa-icon {
        position: absolute;
        left: -0.3rem;
        color: rgb(82, 82, 82);
      }
    }
    &:hover {
      cursor: pointer;
    }
}


