<div class="form-container">
  <form #form="ngForm" autocomplete="off" (ngSubmit)="onRegister(form.value, form.valid, email.errors?.email?true:false)">
    <div>
      <h2>Register</h2>
      <hr>
    </div>
    <div>
      <input type="text" name="firstName" placeholder="First name" required [(ngModel)]="newUser.firstName">
    </div>
    <div>
      <input type="text" name="lastName" placeholder="Last name" required [(ngModel)]="newUser.lastName">
    </div>
    <div>
      <input  #email="ngModel" type="email" name="email" placeholder="Email" required [(ngModel)]="newUser.email" email>
    </div>
    <div>
      <input type="text" name="username" placeholder="Username" required [(ngModel)]="newUser.username" (input)="userNameInput$.next($event.target.value)" #username="ngModel">
      <p *ngIf="invalidUser && username.dirty" class="input-error">This username is already in use</p>
    </div>
    <div>
      <input type="password" name="password" placeholder="Password" required [(ngModel)]="newUser.password">
    </div>
    <div>
      <button type="submit" [disabled]="!form.valid || invalidUser">Register</button>
    </div>
    <!-- <div *ngIf="inputError">
      All fields are required
    </div>
    <div *ngIf="invalidEmail">
      Email is not valid
    </div> -->
  </form>
</div>