<div class="form-container">
  <form 
    #form="ngForm" 
    autocomplete="off" 
    (ngSubmit)="onRegister(form.valid)"
  >
    <div>
      <h2 *ngIf="forPrimaryUse">Register</h2>
      <hr>
    </div>
    <div>
      <fa-icon [icon]="firstNameIcon"></fa-icon>
      <input 
        type="text" 
        name="firstName" 
        placeholder="First name" 
        required
        [(ngModel)]="newUser.firstName">
    </div>
    <div>
      <fa-icon [icon]="lastNameIcon"></fa-icon>
      <input 
        type="text" 
        name="lastName" 
        placeholder="Last name" 
        required
        [(ngModel)]="newUser.lastName">
    </div>
    <div>
      <fa-icon [icon]="mailIcon"></fa-icon>
      <input 
        #email="ngModel" 
        type="email" 
        name="email" 
        placeholder="Email" 
        required
        [(ngModel)]="newUser.email" email>
    </div>
    <div>
      <fa-icon 
        *ngIf="!username.dirty" 
        [icon]="userIcon">
      </fa-icon>
      <fa-icon 
        *ngIf="username.dirty && (!username.valid || invalidUser)" 
        [icon]="userError" 
        class="error">
      </fa-icon>
      <fa-icon 
        *ngIf="username.valid && username.dirty && !invalidUser" 
        [icon]="userSucces" 
        class="succes">
      </fa-icon>
      <input 
        type="text" 
        [disabled]="!forPrimaryUse"
        name="username" 
        placeholder="Username" 
        minlength="4"
        required
        [(ngModel)]="newUser.username" 
        (input)="userNameInput$.next($event.target.value)" 
        #username="ngModel">
    </div>
    <div *ngIf="forPrimaryUse">
      <fa-icon [icon]="passwordIcon"></fa-icon>
      <input 
        type="password" 
        name="password" 
        placeholder="Password" 
        required
        [(ngModel)]="newUser.password">
    </div>
    <div>
      <button type="submit" [disabled]="!form.valid || invalidUser || !form.dirty"  class="full-row">
        {{forPrimaryUse ? 'Register' : 'Update'}}
      </button>
    </div>
  </form>
</div>
<div *ngIf="!forPrimaryUse" class="cancel-button">
  <button (click)="close()">Cancel</button>
</div>