@import '../styles/config';

:host {
  background-color: $free-color;
  width: 100%;
  min-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 7rem 0;
  overflow: auto;
  font-family: $font-stack;
  .details-container {
    width: 70%;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding-bottom: 3rem  ;
    .credit-card {
      width: 350px;
      height: 224px;
      margin-top: -80px;
      background-color: salmon;
      border-radius: 15px;
      box-shadow: 0 0 5px black;
      div {
        margin: 0;
        box-sizing: border-box;
        display: flex;
        &.card-header {
          height: 33%;
          padding-left: 20px;
          p {
            height: 50%;
            font-size: 1.5rem;
            padding-top: 15px;
          }
        }
        &.card-cip {
          height: 16.75%;
          padding-left: 39px;
          align-items: center;
          img {
            box-sizing: border-box;
            padding: 0 15px 0 0;
            margin: 0;
            &.cip {
              height: 36px;
            }
            &.contactless {
              height: 32px;
            }
          }
        }
        &.card-number {
          height: 16.75%;
          justify-content: center;
          align-items: center;
          font-size: 1.5rem;
          font-family: 'Courier New', Courier, monospace;
        }
        &.card-date {
          height: 16.75%;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;
          padding-bottom: 2px;
          p {
            font-size: 1.1rem;
            &:first-of-type {
              font-size: 0.6rem;
            }
          }
        }
        &.card-name {
          height: 16.75%;
          align-items: flex-start;
          padding-left: 40px;
          padding-right: 40px;
          font-size: 1.2rem;
        }
        p {
          margin: 0;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }
    .details-form {
      width: 320px;
      margin-top: 2rem;
      div {
        width: 100%;
        margin: 1rem 0;
        &.row-inputs {
          display: flex;
          .row-element {
            flex: 1 1 0;
            width: 0;
            &.left {
              padding-right: 8px;
            }
            &.right {
              padding-left: 8px;
            }
          }
        }
      }
      label {
        display: block;
        white-space: nowrap;
        overflow: visible;
      }
      input, select {
        box-sizing: border-box;
        width: 100%;
        height: 2rem;
        padding: 0;
        outline: none;
        border: 2px solid $border-color;
        border-radius: 5px;
        font-size: 1rem;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .details-container {
      width: 85%;
    }
  }
}
