.header {
  margin: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
a {
  &:hover {
    color: blue;
    cursor: pointer;
  }
}
p {
  margin: 0;
}

.main-container {
  height: 100%;
}