<div (click)="closeNoteWiew()">
  <div class="add-new-note" [style.display]="newNoteTrigger" (click)="startNewNote()"> 
    Take a note...
  </div>
  <note-view *ngIf="newNoteTrigger === 'none'" [detail]="newNote" (update)="createNote($event)"></note-view>
  <div class="note-container">
    <app-note 
      *ngFor="let note of noteList"
      [item]="note"
      (edit)="onEditNote(note)">
    </app-note>
  </div>
  <div *ngIf="editNote" class="modal">
    <note-view [detail]="currentNote" (update)="updateNote($event)"></note-view>
  </div>
</div>
