@import '../styles/config';

:host {
  background-color: $free-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 320px;
  overflow: auto;
  font-family: $font-stack;
  .plans-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    box-sizing: border-box;
    padding: 6rem 0;
    .plans-header {
      padding-top: 0;
      padding-bottom: 2rem;
      background-color: rgb(0, 0, 0, 0);
      color: $light-text-color;
    }
    .plans-table {
      background-color: white;
      width: 100%;
      box-shadow: 0 0 5px 1px rgb(59, 59, 59);
      border-radius: 10px;
      table {
        width: 85%;
        margin: 6rem auto;
        border: 0.5px solid $border-color;
        border-radius: 10px;
        border-spacing: 0;
        white-space: pre-line;
        .features-col {
          width: 40%;
        }
        .plan-col {
          width: 30%;
        }
        th, td{
          padding: 2rem 1rem;
          border: 0.5px solid $border-color;
          font-weight: normal;
        }
        th {
          text-align: start;
          font-size: 1.4rem;
        }
        td {
          text-align: center;
          font-size: 1.2rem;
          color: rgb(97, 97, 97);
        }
        thead {
          th {
           .header-main {
              font-size: 1.8rem;
              margin-top: 0;
            }
            &:nth-of-type(1) {
              border-radius: 10px 0 0 0;
              background-color: $light-background
            }
            &:nth-of-type(3) {
              border-radius: 0 10px 0 0;
            }
          }
        }
        tfoot {
          th {
           .header-main {
              font-size: 1.8rem;
              margin-top: 0;
            }
            &:nth-of-type(1) {
              border-radius: 0 0 0 10px;
              background-color: $light-background
            }
            &:nth-of-type(3) {
              border-radius: 0 0 10px 0;
            }
          }
        }
      }
      .small-screen-content {
        width: 95%;
        margin: 3rem auto;
        white-space: pre-line;
        article {
          border: 0.5px solid $border-color;
          border-radius: 10px;
          &:first-of-type {
            margin-bottom: 3rem;
          }
          div {
            box-sizing: border-box;
            width: 100%;
            padding: 1rem 5rem;
            text-align: center;
            &.header {
              border-radius: 10px 10px 0 0;
              p:first-of-type {
                font-size: 1.6rem;
              }
              p:last-of-type {
                font-size: 1.4rem;
              }
            }
            &.footer {
              border-radius: 0 0 10px 10px;
            }
            &.content-line:nth-last-of-type(2n) {
              background-color: $light-background;
            }
          }
        }
      }
    }
  }
  .free {
    background-color: $free-color;
    color: $light-text-color;
  }
  .premium {
    background-color: $premium-color;
    color: $light-text-color;
  }
  button.app-button {
    background-color: white;
    border: none;
    font-size: 1rem;
    &:hover {
      background-color: $light-background;
    }
  }
  hr {
    border: 0.5px solid;
  }
}

@media only screen and (max-width: 991px) {
  .plans-header {
    align-self: center;
    padding-left: 1rem;
    text-align: center;
    p:first-of-type {
      font-size: 1.7rem;
    }
    p:last-of-type {
      font-size: 2.4rem;
    }
  }
  .plans-container {
    width: 95%;
  }
  .plans-table table {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .plans-header {
    align-self: flex-start;
    padding-left: 6rem;
    p:first-of-type {
      font-size: 1.7rem;
    }
    p:last-of-type {
      font-size: 3rem;
    }
  }
  .plans-container {
    width: 85%;
  }
  .small-screen-content {
    display: none;
  }
}

