html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  & > * {
    @media print {
      visibility: hidden;
    }
  }
}
button {
  outline: none;
}

.app-button {
  background-color: rgb(0, 225, 255);
  border: 1px solid rgb(0, 225, 255);
  border-radius: 6px;
  padding: 10px 8px;
  &:hover {
    background-color: white;
    cursor: pointer;
  }
}
